[user]
	name = Keiichiro Nagashima
	email = n4ag3a2sh1i@gmail.com
[alias]
    current-branch = ! git branch | grep -e '^\\* ' | sed -e 's/^\\* //g'
    a = add
    cb = ! git current-branch
    ch = checkout
    co = commit
    s = status
